@model List<OrderResult>
@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Areas/Admin/Views/Layout/Layout.cshtml";
}
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col" > </th>
             <th scope="col"> Masa Numarasi</th>
            <th scope="col"> Siparis Durumu</th>
            <th scope="col"> Siparis Tutari</th>
            <th scope="col"> Siparis Tarihi</th>
        
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> <input type="hidden" value="@item.OrderID" /></td>
                <td>@item.TableNumber</td>
                <td>@item.OrderDescription</td>
                <td>@item.OrderTotalPrice</td>
                <td><input type="text"  disabled value="@item.OrderDateTime.ToString("dd-MMMM-yy-hh-mm")" /></td>

              @*  <td><a href="/Order/DeleteOrder/@item.OrderID" class="btn btn-outline-danger">Sil</a></td>*@
                <td><a href="/Order/OrderUpdate/@item.OrderID" class="btn btn-outline-success">Guncelle</a></td>
            </tr>
        }
        @ViewBag.ErrorMessage
    </tbody>
</table>

